.bundle
.rbenv-version
.rspec
.ruby-version
.sass-cache
*.orig
*.rbc
*.sassc
app/views/taglibs/auto/**/*
capybara-*.html
config/application.rb
config/hobo_routes.rb
coverage/
db/*.sqlite3
log/*.log*
spec/tmp/*
public/assets/
public/system/*
public/videos/*
tmp
vendor/bundle
