/* Barra de menu superior*/
.app-name a.brand{font-size:28px}
.navigation.main-nav.nav a{font-size:18px}

.hero-unit .form-horizontal .control-label {
  width: 200px;
}
.hero-unit .control-group input {
  width: 400px;
}
.hero-unit .form-horizontal .controls {
  margin-left: 220px;
}
.form-horizontal .form-actions, .form-horizontal .actions {
  padding-left: 220px;
}
input#pagina_url, input#email_solicitante {
  font-size: 1em;
  padding: 0.3em;
}

/* Pruebas con tema United de Bootswatch */
.alert, .alert h4 {
    color: white;
}
.hero-unit {
  background-color: whitesmoke;
}

/* Centrar el vídeo mediaelementjs */
#mep_0{
  margin-left:20%;
}

/* Portada */
img.marco {
  border: 3px solid #F08080;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}
p.justificado {
  text-align: justify;
}
h1.bienvenido {
  margin-bottom: 0.5em;
}
